{
  metrics
}

:2020 {
  metrics /metrics
}

blog.lilamaris.kr, ://blog.lilamaris.kr {
  reverse_proxy anubis:8923 {
    header_up X-Real-Ip {remote_host}
    header_up X-Http-Version {http.request.proto}
  }

  log {
    output file /var/log/caddy/access.log
    format json
  }
}
