BIND_HOST=127.0.0.1

POSTGRES_IMAGE_TAG=18-alpine
POSTGRES_ADMIN_PASSWORD=change-me
POSTGRES_EXPORTER_USERNAME=postgres-exporter
POSTGRES_EXPORTER_PASSWORD=change-me

KAFKA_IMAGE_TAG=latest
KAFKA_EXPORTER_IMAGE_TAG=v1.8.0
KAFKA_JMX_EXPORTER_IMAGE_TAG=latest
KAFKA_EXTERNAL_HOST=example.com
